---
layout: page
title: "Docs"
description: "文档"
keywords: "php文档，linux文档"
tagline: "原创/翻译/整理文档"
group: "navigation"
---
{% include JB/setup %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">PHP</h3>
    </div>
    <div class="panel-body">
    </div>

    <div class="panel-heading">
        <h3 class="panel-title">Javascript</h3>
    </div>
    <div class="panel-body">
+  JS Array
+  JS Boolean
+  JS Date
+  JS Math
+  JS Number
+ JS String
+ JS RegExp
+ JS Functions
+ JS Events
    </div>

    <div class="panel-heading">
        <h3 class="panel-title">Yii Framework</h3>
    </div>
    <div class="panel-body">
    </div>

    <div class="panel-heading">
        <h3 class="panel-title">Yii Framework</h3>
    </div>
    <div class="panel-body">
    </div>
</div>


