---
layout: index
tagline: 如果不快乐，我想，要么是想得到太多，或者付出不够吧。
---

<div class="row">
{% for post in paginator.posts %}
  <div class="col-sm-6 col-md-4" style="margin-bottom:20px;">
    <div class="thumbnail">
      <div class="caption">
          <div class="caption-content" style="height:180px;">
              <blockquote style="padding:0 0 0 10px;margin:0 0 10px 0;border-left:5px solid #222;">
                  <h4>
                      <strong>
                          <a href="{{ post.url }}">{{post.title}}</a>
                      </strong>
                  </h4>
              </blockquote>
              <p> {{ post.content | split:'<!-- more -->' |first }}</p>
          </div>
            {% if post.category %}
            <span class="icon-book icon-large"></span>
                {{ post.category }}
            {% endif %}
            {% unless post.tags == empty %}
            <span class="icon-bookmark icon-large"></span>
                  {% assign tags_list = post.tags %}
                  {% include custom/tags_text %}
              </section>
            {% endunless %}
              <!-- a href="{{post.url}}" class="btn btn-primary pull-right" role="button">查看全文</a-->
      </div>
    </div>
  </div>
{% endfor %}
</div>

<a role="button" class="btn btn-primary btn-md" href="/archives/categories/index.html"><i class="icon icon-book"></i> Categories </a>
<a role="button" class="btn btn-primary btn-md" href="/archives/tags/index.html"><i class="icon icon-bookmark"></i> Tags </a>
<a role="button" class="btn btn-primary btn-md" href="/archives/archive/index.html"><i class="icon icon-list"></i> Archive </a>
<!-- Pagination links -->
<div class="pull-right">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-primary btn-sm" href="/">Home</a>
    <a class="btn btn-primary btn-sm" href="/">&laquo; Prev</a>
    {% else %}
    <a class="btn btn-primary btn-sm" href="/">Home</a>
    <a class="btn btn-primary btn-sm" href="/page{{paginator.previous_page}}/">&laquo; Prev</a>
    {% endif %}
  {% else %}
    <span><a class="btn btn-primary btn-sm disabled" href="/">Home</a></span>
    <span><a class="btn btn-primary btn-sm disabled">&laquo; Prev</a></span>
  {% endif %}
  <span><a class="btn btn-primary btn-sm disabled">Page: {{paginator.page}} of {{paginator.total_pages}}</a></span>
  {% if paginator.next_page %}
    <a class="btn btn-primary btn-sm" href="/page{{paginator.next_page}}/">Next &raquo;</a>
    <a class="btn btn-primary btn-sm" href="/page{{paginator.total_pages}}/">Last</a>
  {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn btn-primary btn-sm disabled">Next &raquo;</a></span>
    <span><a class="btn btn-primary btn-sm disabled">Last</a></span>
  {% endif %}
</div>
