body{
    background-color: #EDEDED;
    padding-top:50px;
    overflow-y:scroll;
}

a.navbar-brand{
    margin-right: 30px;
}
.post_content{
    font-size: 15px;
}

.post_content h1{
    font-size: 22px;
    color: #ffffff;
    background-color: #080808;
    border-color: #000000;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 13px;
    margin-bottom: 20px;
}

.post_content h2{
    font-size: 19px;
    color: #ffffff;
    background-color: #141818;
    border-color: #000000;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    margin-bottom: 15px;
}

.panel-title{
    font-size: 120%;
}

.panel-heading{
    padding: 5px 15px;
}

.thumbnail{
    height: 250px;
}
/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #222;
}
.footer p {
  float: right;
  margin-top: 20px;
  color: #777;
}
.footer a {
    color: #fff;
}


ul.ds-recent-visitors{
    padding-left: 20px;
}
ul.ds-recent-visitors img{
    margin-bottom: 10px;
}
ul.ds-recent-comments{
    padding-left: 10px;
}

.highlight>pre{
    background-color: #fff;
}
