---
layout: page
title: "我的QQ音乐歌单"
description: ""
group2: "Projects"
---
{% include JB/setup %}


<audio src="http://stream3.qqmusic.qq.com/12130215.wma" controls="controls" autoplay="autoplay">
Your browser does not support the audio element.
</audio>

<div id="music_list"></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
var url = "http://qzone-music.qq.com/fcg-bin/fcg_music_fav_getinfo.fcg?dirinfo=0&dirid=201&uin=823011051";
$(document).ready(function(){
    $.ajax({
        type: 'get',
        url: url,
        async: false,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'jsonCallback',
        success: function(data){
            var list = '<table class="table table-hover table-condensed table-bordered">';
            list += '<tbody>';
            $.each(data.SongList, function(i, item){
                list += '<tr>';
                list += '<td><span>' + item.songname + '</span></li>';
                list += '<td><span>' + item.singername + '</span></li>';
                list += '<td><span>' + item.diskname + '</span></li>';
                list += '<td><span class="icon-play-circle icon-large"></span></li>';
                list += '<td><span>' + item.url + '</span></li>';
                list += '</tr>';
            });
            list += '</tbody></table>';
            $('#music_list').append(list);
        }
    });
});
</script>

