---
layout: page
title: Categories
tagline: 文章分类
group2: "Archives"
---
{% include JB/setup %}

<!--ul class="tag_box list-inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul-->


{% for category in site.categories %} 
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="btn-block" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#{{ category[0] | replace: ' ', '-'}}">
                {{ category[0] }}
            </a>
        </h4>
    </div>

    {% assign pages_list = category[1] %}
    <div class="panel-body">
        {% for node in pages_list %}
            {% for tag in node.tags %}
                <a target="_blank" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">
                    {{ tag }},
                </a>
            {% endfor %}
        {% endfor %}
   </div>
    <ul id="{{ category[0] |replace: ' ','-' }}" class="list-group panel-collapse collapse">
        {% include JB/pages_list %}
    </ul>
  </div>
{% endfor %}

