<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}PHP攻城师</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{%else%}<meta name="keywords" content="{{ site.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baidu-site-verification" content="CBWMvTANGx" />
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css " rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/custom.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet" type="text/css" media="all">

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html','' }}" />
    <!-- fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="{{ site.title }} RSS Feed">


  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- col-lg 笔记本  -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ HOME_PATH }}" title="{{ site.title }}">Ganiks's Blog</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% assign current_page = page.url | remove_first: '/' | split: '/' | first | capitalize %}
          {% include JB/navs_list %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.production_url }}/rss.xml" target="_blank" title="RSS"><span class="icon-rss icon-large"></span></a></li>
          {% if site.author.github %}
            <li><a href="https://github.com/{{ site.author.github }}" target="_blank" title="Github"><span class="icon-github icon-large"></span></a></li>
          {% endif %}
          {% if site.author.weibo %}
            <li><a href="http://weibo.com/{{ site.author.weibo }}" target="_blank" title="Weibo"><span class="icon-weibo icon-large"></span></a></li>
          {% endif %}
          {% if site.author.googleplus %}
            <li><a href="https://plus.google.com/{{ site.author.googleplus }}" target="_blank" title="Google+"><span class="icon-google-plus icon-large"></span></a></li>
          {% endif %}
          {% if site.author.twitter %}
            <li><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" title="twitter"><span class="icon-twitter icon-large"></span></a></li>
          {% endif %}
          {% if site.author.facebook %}
            <!--li><a href="http://www.facebook.com/{{ site.author.facebook }}" target="_blank" title="facebook"><span class="icon-facebook icon-large"></span></a></li-->
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>

    </div> <!-- /container -->

<footer class="footer">
      <div class="container">
        <form class="navbar-form navbar-left visible-lg visible-md" role="form" onsubmit="tmtxt_search_google()">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="搜索本站..." id="my-google-search">
          </div>
          <button type="submit" class="btn">Google</button>
        </form>
        <p class="brand">&copy; {{ site.time | date: '%Y' }} <a href="{{ HOME_PATH }}" target="_blank">{{ site.author.name }}</a>. Help from <a href="http://jekyllrb.com/" target="_blank" title="Jekyll">Jekyll</a>
Theme By <a href="http://phpgcs.com" target="_blank" title="phpgcs">phpgcs</a>
        </p>
      </div>
</footer>

    {% include custom/search_script %}
    <script src="//libs.baidu.com/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="{{ ASSET_PATH }}/js/jquery.min.js"><\/script>')</script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
     document.write('<a style="display:none!important" id="tanx-a-mm_32525794_4364731_14668908"></a>');
     tanx_s = document.createElement("script");
     tanx_s.type = "text/javascript";
     tanx_s.charset = "gbk";
     tanx_s.id = "tanx-s-mm_32525794_4364731_14668908";
     tanx_s.async = true;
     tanx_s.src = "http://p.tanx.com/ex?i=mm_32525794_4364731_14668908";
     tanx_h = document.getElementsByTagName("head")[0];
     if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
</script>

    {% include custom/duoshuo %}
    {% include custom/sharing %}
    <script src="{{ ASSET_PATH }}/js/custom.js" type="text/javascript">
    {% include JB/analytics %}
  </body>
</html>
