<div class="row">

  <div class="col-md-9">
    <div class="page-header-wrapper">
      <div class="page-header" style="margin-bottom:-20px;margin-top:10px;">
          <h2 class="alert alert-primary"><img src="{{ BASE_PATH }}/favicon.png"/>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
      </div>
    </div>
    {{ content }}
  </div>

  <div class="col-md-3 visible-lg visible-md" style="margin-top:22px;">
    {% include custom/aside %}
  </div>

</div>
