<div class="row">

  <div class="col-md-9">
    <div class="page-header-wrapper">
      <div class="page-header">
        <h2>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
      </div>
    </div>
    {{ content }}
  </div>

  <div class="col-md-3 visible-lg visible-md">
    {% include custom/aside %}
  </div>

    {% include custom/comments %}
</div>
