<div class="row">

  <div class="col-md-12">
    <blockquote class="page-header" style="margin-top:10px;">
      <h2>
        {{ page.title }} 
        <br>
        {% if page.tagline %}
          <small>{{ page.tagline }}</small>
        {% endif %}
      </h2>
    </blockquote>
    <div class="well" style="margin-bottom:12px;height:60px;padding:20px;background-color:#fff">
        <div style="margin-left:14px;" class="pull-left">
            <span class="icon-calendar icon-large"></span>
            {{ page.date | date_to_long_string }}
        </div>
        <div style="margin-left:14px;" class="pull-left">
            <span class="icon-user icon-large"></span>
            GaniksLiu
        </div>
        <div style="margin-left:14px;" class="pull-left">
            {% if page.category %}
            <span class="icon-book icon-large"></span>
                {{ page.category }}
            {% endif %}
        </div>
        <div style="margin-left:14px;" class="pull-left">
            {% unless page.tags == empty %}
            <span class="icon-bookmark icon-large"></span>
                  {% assign tags_list = page.tags %}
                  {% include JB/tags_text %}
              </section>
            {% endunless %}
        </div>
    </div>
    <div class="post_content">
        {{ content }}
        <p>本文链接：<a href="{{ BASE_PATH }}{{ page.url }}" target="_blank">http://www.phpgcs.com{{ page.url }}</p>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group">
          {% if page.previous %}
            <a class="btn btn-default btn-sm" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; 上一篇</a>
          {% else %}
            <a class="btn btn-default btn-sm disabled">&laquo; 上一篇</a>
          {% endif %}
            <a class="btn btn-default btn-sm" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">文章归档</a>
          {% if page.next %}
            <a class="btn btn-default btn-sm" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &raquo;</a>
          {% else %}
            <a class="btn btn-default btn-sm disabled">下一篇 &raquo;</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div id="bdshare" class="bdshare_t bds_tools_24 get-codes-bdshare btn-group pull-right">
          <a class="bds_tsina"></a>
          <a class="bds_tqq"></a>
          <a class="bds_t163"></a>
          <a class="bds_renren"></a>
          <span class="bds_more"></span>
        </div>
      </div>
    </div>
    {% include JB/comments %}
  </div>
</div>
